.foot{
    background-image: url(../../Pics/425.png);
    width: 116%;
    height: 44vh;
    position: relative;
    z-index: 5;
    left: -4rem;
    right: 0rem;
}

.f-content{
    position: absolute;
    left: 29rem;
    top: 4rem;
}

.f-content>h1{
    color: white;
    right: 20rem;
    position: relative;
    top: 7rem;
}