@font-face {
    font-family: 'BRoya';
    src: url(../src/Fonts/BRoya.ttf);
  }

  :root
  {
    --yellow: #ffbf00;
      --orange : #ff9d00;
      --black : #242D49;
      --gray : #3f465c;
      --blueCard : #DDF8FE;
      --purple: rgb(175, 46, 255);
      --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
      --orangeCard: rgba(23, 235, 250, 0.274);
      --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  }
  
  .App{
      padding: 1.5rem 3.5rem;
      overflow: hidden;
      color: var(--black);   
      font-family: 'Broya'; 
  }
  
  .button{
    margin: 0 -15px;
    border-radius: 22px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 8px 7px;
    background: linear-gradient(180deg,#ff4e50 .71%,#f9d423 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(7, 169, 233, 0.42);
  }
  
  .button:hover{
    background: white;
    color: var(--orange);
    cursor: pointer;
    border: 1px solid var(--orange);
    padding: 8px 6px;
    
  }
    
  
    